.mainMyItem {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0px 20px;
  flex-wrap: wrap;
}
.cardMyItem1 {
  max-width: 350px;
  width: 100%;
  height: 370px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem2 {
  /* width: 300px; */
  height: 260px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  /* display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; */
}
.uidCard {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
.imageMyItem {
  display: flex;
  justify-content: center;
}
.NameCard {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding: 10px 0px;
}
.buttonSell {
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #272c32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonSell:hover {
  border: 1px solid #ffa34c;
  color: aliceblue;
  background-color: #ffa34c;
}
.buttonCategory {
  padding: 10px 20px;
  background-color: #d6d1ce;
  color: #989695;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
}
.buttonCategoryActive {
  padding: 10px 20px;
  background-color: #ffa34c;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
}
.maincategory {
  padding: 20px 40px;
}

/* CardSell */

.buttonCancleSell {
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #ff0909;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ff0909;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonCancleSell:hover {
  border: 1px solid #ff0909;
  color: #ffffff;
  background-color: #ff0909;
}

/* CardMarketplace */

.cardMyItem3 {
  max-width: 350px;
  width: 100%;
  height: 410px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem4 {
  /* width: 300px; */
  height: 300px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.uidSeller{
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  width: 100%;
}


/* CardCraft */
.cardMyItem5 {
  max-width: 350px;
  width: 100%;
  height: 455px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem6 {
  /* width: 300px; */
  height: 250px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.coinCraft {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coinCraft1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 20px 20px;
}
.coinCraft2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 20px 20px;
}
.coinCraft1Icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coinCraft2Icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coinCraft1Coin {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}
.coinCraft2Coin {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}
.costCraft {
  padding: 0px 20px;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}
