.mainMyItem {
  
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 0px 20px;
  flex-wrap: wrap;
}
.cardMyItem1 {
  max-width: 350px;
  width: 100%;
  height: 370px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem2 {
  
  height: 260px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
}
.uidCard {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
.imageMyItem {
  display: flex;
  justify-content: center;
}
.NameCard {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  padding: 10px 0;
}
.NameCard1 {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
}
.buttonSell {
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #272c32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonSell:hover {
  border: 1px solid #ffa34c;
  color: aliceblue;
  background-color: #ffa34c;
}
.buttonCategory {
  padding: 10px 20px;
  background-color: #d6d1ce;
  color: #989695;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
}
.buttonCategoryActive {
  padding: 10px 20px;
  background-color: #ffa34c;
  outline: none;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin: 0px 10px;
}
.maincategory {
  padding: 20px 40px;
}
.maincategoryInventories {
  display: flex;
  justify-content: flex-start;
  padding: 0px 20px;
}

/* CardSell */
.bgCardSell1 {
  max-width: 350px;
  width: 100%;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.bgCardSell2 {
  
  height: 260px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
}

.buttonCancleSell {
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #ffffff;
  border: 1px solid #ff0909;
  box-sizing: border-box;
  border-radius: 10px;
  color: #ff0909;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.buttonCancleSell:hover {
  border: 1px solid #ff0909;
  color: #ffffff;
  background-color: #ff0909;
}


/* CardMarketplace */

.cardMyItem3 {
  max-width: 350px;
  width: 100%;
  height: 430px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem4 {
  /* width: 300px; */
  height: 290px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}
.uidSeller{
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  width: 100%;
}

.buttonMarketplace {
  height: 40px;
  width: 170px;
  padding: 10px 15px;
  background: #acadaf;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: rgb(94, 95, 96);
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  pointer-events: none;
}




/* CardCraft */
.cardMyItem5 {
  max-width: 350px;
  width: 100%;
  height: 455px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem6 {
  /* width: 300px; */
  height: 250px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
}

.coinCraft {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.coinCraft1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 20px 20px;
}
.coinCraft2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 20px 20px 20px;
}
.coinCraft1Icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coinCraft2Icon {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.coinCraft1Coin {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}
.coinCraft2Coin {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}
.costCraft {
  padding: 0px 20px;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 36px;
}
.popupBg {
  background-color: #f59b47;
  display: flex;
  justify-content: center;
  
 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.cardMyItem1Popup {
  
  width: 100%;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.cardMyItem2Popup {
  
  height: 220px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  
}
.uidCardPopup {
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
}
.imageMyItemPopup {
  display: flex;
  justify-content: center;
}
.NameCardPopup {
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  padding: 10px 0px;
}
.detailPopup {
  width: 140%;
  height: 300px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-family: 'Prompt';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 60px;
}
.buttonSellPopup {
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #272c32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: aliceblue;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 50px;
}
.buttonSellPopup:hover {
  border: 1px solid #ffa34c;
  color: aliceblue;
  background-color: #ffa34c;
}
.buttonPopupNotenoughCoin{
  height: 40px;
  width: 150px;
  padding: 10px 15px;
  background: #272c32;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  border-radius: 10px;
  color: aliceblue;
  
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.priceCard{
  text-align: center;
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  padding: 0px 0px 10px 0px;
 
}
.bgMarketplace {
  padding: 10px;
}
.randomItems {
  text-align: center;
  font-size: 24px;
}
/* ModalOpenBuyChests */
.cardMyItem2PopupOpen {
  
  height: 270px;
  background-color: #f8f4d3;
  border-radius: 10px 10px 0px 0px;
  padding: 20px;
  cursor: pointer;
  
}
.cardMyItem1PopupOpen {
  width: 100%;
  height: 330px;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px 0px 30px 0px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  
}
.youGotThis{
  font-family: "Prompt", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
}
.detailRandomItems {
  display: flex;
  align-items: center;
  
}