.sidenav {
    height: 100%;
    width: 15%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #2e373f;
    overflow-x: hidden;
    padding-top: 100px;
  }

  .sidenav a {
    font-family: "Prompt", sans-serif;
    padding: 35px 6px 6px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #ffffff;
    display: block;
    margin: auto;
  }

  .sidenav a:hover {
    color: #f1f1f1;
  }